<div ng-controller="custom.propertyeditors.grid.linkpickereditorcontroller">

    <div class="umb-editor-placeholde" ng-click="setContentId()">
        <i class="icon icon-settings-alt"></i>
        <div ng-id="!control.$inserted" class="help-text">Click to insert Page</div>

        <div ng-if="control.value" style="margin-top: 20px;">
            <p>
                Node ID: {{control.value.id}}
                <br />
                Node Name: {{control.value.name}}
            </p>
            {{control.value}}
        </div>

    </div>
</div>